# This is Git's per-user configuration file.
[user]
	name = James Chan
	email = ccchan0109@gmail.com
[core]
	filemode = false
	editor = vim
	excludesFile = ~/.gitignore
[alias]
	aa  = add .
	ad  = add -u
	br  = branch
	ba  = branch -a
	# delete branch, -D to forcely delete
	bd  = branch -d
	cm  = commit
	cma = commit --amend
	cmu = commit --amend --author
	co  = checkout
	cb  = checkout -b
	cf  = clang-format -p
	cp  = cherry-pick
	cpc = cherry-pick --continue
	df  = diff
	dfc = diff --cached
	dl  = difftool
	eg  = config -e --global
	el  = config -e --local
	fp  = format-patch
	lg  = log
	la  = log --graph --decorate --pretty=oneline --abbrev-commit --all
	ls  = log --name-status
	lt  = log --stat
	lf  = log --follow
	pl  = pull --rebase
	rb  = rebase
	rbc = rebase --continue
	rbi = rebase -i
	rs  = reset
	# if you want to keep the change in staged, use `git reset --soft [commit-hash]`
	# before `reset --soft`, use `git reflog` to see the commit-hash
	rss = reset --soft
	# git remote add [remote name] [repo url]
	rma = remote add
	st  = status
	su  = status -uno
	sh  = stash
	# if wanna record a msg, git stash push -m "msg typed here"
	shm = stash push -m
	shl = stash list
	sha = stash apply
	sh0 = stash apply stash@{0}
	shd = stash drop
[color]
	ui = true
	diff = auto
	status = auto
	branch = auto
	log = auto
[push]
	default = simple
[clangformat]
	style = Google
