# This is Git's per-user configuration file.
[user]
	name = James Chan
	# email = your_mail
[core]
	filemode = false
	editor = vim
[alias]
	ad  = add -u
	br  = branch
	ba  = branch -a
	cm  = commit
	cma = commit --amend
	cmu = commit --amend --author
	co  = checkout
	cb  = checkout -b
	cf  = clang-format -p
	df  = diff
	dfc = diff --cached
	dl  = difftool
	eg  = config -e --global
	el  = config -e --local
	fp  = format-patch
	lg  = log
	la  = log --graph --decorate --pretty=oneline --abbrev-commit --all
	ls  = log --name-status
	lt  = log --stat
	lf  = log --follow
	pl  = pull --rebase
	rb  = rebase
	rbc = rebase --continue
	rbi = rebase -i
	rs  = reset
	# git remote add [remote name] [repo url]
	rma = remote add
	st  = status
	su  = status -uno
	sh  = stash
	shl = stash list
	sha = stash apply
	shd = stash drop
	sh0 = stash apply stash@{0}
[color]
	ui = true
	diff = auto
	status = auto
	branch = auto
	log = auto
[push]
	default = simple
[clangformat]
	style = Google
[credential]
	helper = corpsso
[url "persistent-http"]
	insteadOf = http
[url "persistent-https"]
	insteadOf = https
