[core]
	filemode = false
	editor = vim
[alias]
	ad = add -u
	br = branch
	cb = checkout -b
	cm = commit
	cma = commit --amend
	cmc = commit --amend --author
	co = checkout
	df = diff
	dfc = diff --cached
	dl = difftool
	fp = format-patch
	la = log --graph --decorate --pretty=oneline --abbrev-commit --all
	lg = log
	ls = log --name-status
	lt = log --stat
	lf = log --follow
	pl = pull --rebase
	rb = rebase
	rbc = rebase --continue
	rbi = rebase -i
	rs = reset
	sh = stash
	shl = stash list
	sha = stash apply
	shd = stash drop
	st = status
	su = status -uno
	s0 = stash apply stash@{0}
[color]
	ui = true
	diff = auto
	status = auto
	branch = auto
	log = auto
[push]
	default = simple
